/************************************ Navbar Section **********************************/

nav{
    height: 5rem;
    margin-top: 1rem;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 5rem;
    margin-left: 3rem;
    position: absolute;
    left:0;
}
.navbar-nav{
    display: flex;
    align-items:center;
    justify-content: center;
    backdrop-filter: blur(10px);
    padding-right: 6rem;
    z-index: 3;
}
.navbar-nav:first-child{
    padding-left: 4rem;
}
.navbar-nav .nav-item{
    float: right;
    padding: auto 3rem; 
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 9rem;
}
.nav-item .nav-link:hover{
    border-bottom: 2px solid #b3b3b3;
}
.active{
    border-bottom: 2px solid #fff !important;
    color: #fff !important;
}
.navbar-item .nav-link{
    color:white;
    font-size: 1rem;
    text-decoration: none;
    letter-spacing: 3px;
}
.navbar-item .nav-link:hover{
    color: white;
}
.nav-span{
    font-weight: 600;
}
.navbar-toggler{
    position: absolute;
    right: 1rem;
    top: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
    z-index: 9999;
}
.navbar-toggler[aria-expanded=true]{
    background-image: url("./assets/shared/icon-close.svg");
    background-repeat: no-repeat;
}
.navbar-toggler[aria-expanded=false]{
    background-image: url("./assets/shared/icon-hamburger.svg");
    background-repeat: no-repeat;
}
@media (max-width: 1200px){
    .navbar-nav{
        padding-right: 1.5rem;
    }
    .navbar-nav:first-child{
        padding-left: 0;
    }
}
@media (min-width:575px) and (max-width: 900px){
    .nav-span{
        display:none;
    }
    .navbar-nav .nav-item{
        width: 7rem;
    }
}
@media (max-width:575px){
    .navbar-nav{
        margin-top: 3.5rem;
        backdrop-filter: blur(2rem);
    }
}


/********************************************* HOME PAGE DESKTOP*****************************************/


#html-00,#body-00 {
    background-image: url("./assets/home/background-home-desktop.jpg");
    background-size: cover;
    height: 100vh;
    margin: 0;
    padding: 0;
}
*{
    color: #fff;
    font-family: "Barlow Condensed";
}

/* Content Section */
.content{
    width: 65%;
    height: 100vh;
    padding: 10% 12% 0;
}
.content .heading-home{
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 2.5px;
}
.title{
    font-family: "Bellefair", serif;
    font-size: 9rem;
}
.paragraph{
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: 300;
    letter-spacing: 2px;
}
.exp{
    position: absolute;
    right: 14%;
    bottom: 15%;
}
.exp a{
    text-decoration: none;
}
.circle{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16rem;
    width: 16rem;
    border-radius: 100%;
    background-color: white;    
}
.circle h1{
    color: black;
    font-family: "Bellefair", serif;
    font-size: 2rem;
}
.circle:hover{
    outline: 3rem solid rgb(177, 177, 177,0.6);
    transition: 0.2s;
}
.circle:hover::after{
    transition: 0.2s;
}


/*******************************************************  HOME PAGE TABLET  **************************************/


@media (min-width: 1200px) and (max-width:1400px){
    .exp{
        bottom: 22%;
        right: 10%;
    }
}
@media (min-width:575px) and (max-width: 1000px){
    #html-00,#body-00{
        text-align: center;
        background: url("./assets/home/background-home-tablet.jpg");
        background-size: cover;
        height: 130%;
    }
    #body-00 section{
        overflow: hidden;
    }
    .exp{
        position: static;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .circle{
        height: 19rem;
        width: 19rem;
    }
    .content .heading-home{
        margin-bottom: 2rem;
        font-size: 3rem;
    }
    .title{
        margin-bottom: 2rem;
        font-size: 10rem;
    }
    .content .paragraph{
        font-size: 1.5rem;
    }
    .content{
        width: 100%;
        padding: 5% 0 0;
        margin-top: 5rem;
        margin-bottom: 0;
        height: 40rem;
    }
    .home{
        padding-left: 12%;
        padding-right: 12%;
        overflow: hidden;
    }
}
@media (max-width:1200px){
    .circle{
        bottom: 25%;
        right: 10%;
    }
}
@media (max-height:1200px){
    #body-00{
        height: 110%;
    }
}
@media (min-height:1200px) and (max-height:1400px){
    #body-00{
        height: 80%;
    }
}
@media (min-width:575px) and (max-width:685px){
    .content .heading-home{
        
        font-size: 2rem;
    }
    .title{
        margin-bottom: 2rem;
        font-size: 9rem;
    }
    .content .paragraph{
        font-size: 1.5rem;
    }
    .content{
        width: 100%;
        padding: 5% 0 0;
        margin-top: 5rem;
        margin-bottom: 0;
        height: 35rem;
    }
    .home{
        padding-left: 8%;
        padding-right: 8%;
        overflow: hidden;
    }
}
@media (max-width:575px){
    #html-00,#body-00{
        background: url("./assets/home/background-home-mobile.jpg");
        background-size: cover;
        height: 100%;
    }
    .circle{
        height: 16rem;
        width: 16rem;
    }
    .content .heading-home{
        font-size: 1.7rem;
    }
    .title{
        margin-bottom: 3rem;
        font-size: 6rem;
    }
    .content .paragraph{
        font-size: 1rem;
    }
    .content{
        width: 100%;
        padding: 0 0 0;
        margin-bottom: 0;
        height: 20rem;
    }
    .home{
        padding: 2rem 8% 0;
        text-align: center;
    }
    .exp{
        position: static;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media (max-width:420px){
    .content{
        height: 25rem;
    }
    #body-00{
        height: 105%;
    }
}
@media (max-height:715px){
    #body-00{
        height: 115%;
    }
}
/************************************* DESTINATION PAGE ******************************************/



#html-01,#body-01 {
    background-image: url("./assets/destination/background-destination-desktop.jpg");
    background-size: cover;
    height: 100vh;
    margin: 0;
    padding: 0;
}
*{
    color: white;
    font-family: "Barlow Condensed";
}

/* Heading Section */

.heading{
    letter-spacing: 2px;
    padding-bottom: 4rem;
    padding-left: 2rem;
    font-size: 1.5rem;
}
.heading-span{
    color: #b3b3b3;
}


/* Destination Navbar */


.planet-navbar .nav{
    column-gap: 1rem;
}
.li-item .nav-link{
    letter-spacing: 4px;
}
.nav-item .nav-link:visited{
    color: #fff;
}
.planet-navbar{
    padding-bottom: 2rem;
}

/* Destination Content */

.section{
    padding: 5% 12% 0;
    display: flex;
    justify-content: space-between;
}

.dest-content{
    width: 40%;
}
.planet-name{
    font-size: 7rem;
    font-family: "Bellefair", sans-serif;
}

/* Travel Section */

.travel{
    display: flex;
    align-items: start;
    justify-content: center;
}
.distance{
    width: 50%;
    height: 6rem;
}
.time{
    width: 50%;
    height: 6rem;
}
.travel-title{
    width: 100%;
    font-size: 1rem;
    letter-spacing: 2px;
}
.value{
    width: 100%;
    font-family: "Bellefair", sans-serif;
    padding-top: 1rem;
}
@media (min-width:1016px) and (max-width:1266px){
    .dest-content{
        width: 45%;
        right: 6rem;
    }
}
@media (min-width:1016px) and (max-width:1130px){
    .section{
        padding-inline: 5rem;
    }
}
@media (min-width:575px) and (max-width:1016px){
    #html-01,#body-01{
        height: 130%;
    }
}
@media (max-width:1016px){
    #html-01,#body-01{
        background-image: url("./assets/destination/background-destination-tablet.jpg");
        text-align: center;
        background-size: cover;
    }
    #moon-img{
        z-index: -100;
        width: 35rem;
        height: 35rem;
    }
    .section{
        flex-direction: column;
    }
    .planet-navbar{
        display: flex;
        justify-content: center;
    }
    .li-item a{
        font-size: 1.5rem;
        letter-spacing: 4px;
    }
    .dest-content p{
        font-size: 1.5rem;
        margin-bottom: 3rem;
    }
    .dest-content{
        width: 100%;
        transform: translateY(-10rem);
    }
    .travel-title{
        font-size: 1.3rem;
    }
    .value{
        font-size: 2.5rem;
    }
    .heading{
        text-align: left;
    }
}
@media (max-width:735px){
    #moon-img{
        width: 30rem;
        height: 30rem;
    }
}
@media (max-width:602px){
    .li-item a{
        font-size: 1.2rem;
    }
    #moon-img{
        width: 28rem;
        height: 28rem;
    }
}
@media (max-width:575px){
    #body-01{
        background-image: url("./assets/destination/background-destination-mobile.jpg");
        height: 160%;
    }
    .planet-navbar{
        padding-bottom: 0.5rem;
    }
    .planet-navbar .nav{
        column-gap: 0rem;
    }
    .li-item a{
        font-size: 1.1rem;
        letter-spacing: 0;
    }
    #moon-img{
        width: 25rem;
        height: 25rem;
    }
    .planet-name{
        font-size: 6rem;
    }
    .section{
        padding-inline: 2%;
    }
    .dest-content p{
        font-size: 1.2rem;
    }
    .travel{
        flex-direction: column;
    }
    .distance, .time{
        width: 100%;
        text-align: center;
        margin-bottom: 3rem;
    }
}
@media (max-width:425px){
    #moon-img{
        width: 22rem;
        height: 22rem;
    }
    .dest-content p{
        font-size: 1rem;
    }
    .value{
        font-size: 2rem;
    }
}
@media (max-width:365px){
    #html-01,#body-01{
        height: 150%;
    }
    .li-item a{
        font-size: 0.9rem;
    }
    #body-01{
        width: 110%;
    }
    .value{
        font-size: 2rem;
    }
}
@media (max-width:325px){
    #body-01{
        width: 120%;
    }
}
@media (max-width:300px){
    #body-01{
        width: 130%;
    }
}
/************************************************* CREW PAGE ******************************************************/


#html-02,#body-02 {
    background-image: url("./assets/crew/background-crew-desktop.jpg");
    background-size: cover;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
*{
    color: #fff;
    font-family: "Barlow Condensed";
}

/* Crew Navbar */

.crew-navbar{
    display: flex;
    align-items: start;
    justify-content: left;
    column-gap: 1.5rem;
    margin-bottom: 0;
}
.crew-item{
    border-radius: 100%;
    width: 1.2rem;
    height: 1.2rem;
    background-color: #5a5a5a;
}
.crew-item:hover{
    background-color: #b3b3b3;
}
.active-2{
    background-color: #fff;
}

/* Crew Heading */

.crew-heading{
    letter-spacing: 2px;
    padding-bottom: 5rem;
    position: absolute;
    top: 10rem;
    left: 12%;
    margin-bottom: 15rem;
    font-size: 2rem;
}

/* Crew Content */
.crew{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}
.crew-staff, .crew-member{
    font-family: "Bellefair", sans-serif;
    margin-bottom: 0.8rem;
}

.crew-staff{
    color: #b3b3b3;
    padding-bottom: 1rem;
}
.crew-member{
    font-size: 2.9rem;
    padding-bottom: 1rem;
}
.crew-p{
    padding-bottom: 2rem;
}
.crew-content{
    width: 50%;
    display: flex;
}
.crew-img-div img{
    height: 80vh;
}
@media (min-width:1016px) and (max-width:1200px){
    #body-02 .section{
        padding-inline: 6%;
    }
    .crew-heading{
        left: 6%;
    }
}
@media (max-width:1016px){
    #html-02,#body-02{
        background-image: url("./assets/crew/background-crew-tablet.jpg");
        background-attachment: local;
        overflow: scroll;
        text-align: center;
    }
    .crew-content{
        width: 100%;
        margin-bottom: 5rem;
    }
    .crew-heading{
        text-align: left;
        font-size: 2rem;
        position: static;
        margin-bottom: 0;
    }
    .crew{
        align-items: center;
    }
}
@media (max-width:791px){
    #body-02 .section{
        padding-inline: 3%;
    }
    .crew-heading{
        margin-left: 6%;
    }
}
@media (max-width:575px){
    #html-02,#body-02{
        background-image: url("./assets/crew/background-crew-mobile.jpg");

    }
    #body-02 .section{
        display: flex;
        flex-direction: column-reverse;
    }
    .crew-heading{
        order: 1;
        text-align: center;
    }
    .crew-img-div img{
        height: 55vh;
        width: 45vh !important;
        margin-bottom: 3rem;
    }
}

/************************************************ TECHNOLOGY PAGE ******************************************************/


#html-03,#body-03 {
    background-image: url("./assets/technology/background-technology-desktop.jpg");
    background-size: cover;
    height: 100vh;
    margin: 0;
    padding: 0;
}
*{
    color: #fff;
    font-family: "Barlow Condensed";
}

/* Tech Heading */

.tech-heading{
    letter-spacing: 2px;
    font-size: 2rem;
    width: 50%;
    margin-left: 2.5rem;
}

/* Tech Nav */

.tech-nav{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.tech-item{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 5rem;
    height: 5rem;
    font-size: 2rem;
}


/* Tech Content */
.section-1{
    padding: 2% 8% 5%;
}
.tech-title{
    color: #b3b3b3;
    margin-bottom: 1rem;
    letter-spacing: 2px;
}
.tech-name{
    font-size: 2.9rem;
    padding-bottom: 1rem;
    font-family: "Bellefair", sans-serif;
    margin-bottom: 0.8rem;
}
.tech{
    display: flex;
    justify-content: space-between;
    column-gap: 3rem;
}
.technology{
    display: flex;
    margin-top: 7rem;
    column-gap: 3rem;
}
.tech-img{
    height: 70vh;
    width: 70vh;
}
.active-t{
    background-color: #fff;
    color: black;
}
.tech-item:hover{
    background-color: #fff;
    color: black;
    transition: 0.5s;
}
@media (min-width:1000px) and (max-width:1350px){
    .tech-img{
        height: 60vh;
        width: 60vh;
        margin-top: 5rem;
    }
    .technology{
        margin-top: 10rem;
    }
    .section-1{
        padding-inline: 5%;
    }
}
@media (min-width:1000px) and (max-width:1165px){
    .tech-img{
        height: 50vh;
        width: 50vh;
    }
    .tech{
        column-gap: 2rem;
    }
    .tech-name{
        font-size: 2.5rem;
    }
}
@media (max-width:1000px){
    #body-03{
        background-image: url("./assets/technology/background-technology-tablet.jpg");
    }
    .tech-heading{
        width: 90%;
    }
    .tech{
        flex-direction: column-reverse;
        text-align: center;
        row-gap: 3rem;
    }
    .technology{
        flex-direction: column;
        row-gap: 1.5rem;
        margin-top: 0;
    }
    .tech-nav{
        flex-direction: row;
        justify-content: center;
        column-gap: 1rem;
    }
    .tech-img{
        width: 80vh;
        height: 40vh;
        margin-top: 2rem;
    }
}
@media (max-width:790px){
    .tech-img{
        width: 60vh;
    }
    .tech-heading{
        font-size: 1.7rem;
    }
}
@media (max-width:575px){
    .tech-img{
        width: 50vh;
        height: 30vh;
    }
    .tech-heading{
        text-align: center;
        margin-left: 0;
    }
}
@media (max-width:475px){
    .tech-img{
        width: 40vh;
        height: 20vh;
    }
    .section-1{
        padding-inline: 3%;
    }
    .tech-name{
        font-size: 2rem;
    }
    .tech-p{
        font-size: 1rem;
    }
}
@media (max-width:340px){
    .tech-img{
        width: 35vh;
    }
    .tech-item{
        width: 4rem;
        height: 4rem;
    }
}